<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Broadcast Radio</title>
    <link href="/css/output.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <!--    <link href="/css/additional.css" rel="stylesheet"/>-->
</head>
<body class="h-full w-full">
<div class="h-full flex flex-col">
    <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col items-center mb-6 w-[60%] px-11">
            <svg width="450" height="64" viewBox="0 0 476 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="mb-6">
                <path d="M123 60.393C132.911 52.8889 165.221 39.7497 215.173 47.2255" stroke="#FFB703"
                      stroke-width="6.79614"/>
                <path d="M27.5211 24.8167C29.801 25.3026 31.6325 26.4426 33.0154 28.2366C34.3984 29.9933 35.0898 32.0117 35.0898 34.2916C35.0898 37.5808 33.9312 40.1971 31.6138 42.1407C29.3338 44.0469 26.1382 45 22.0267 45H3.69356V5.64254H21.41C25.4093 5.64254 28.5302 6.55826 30.7728 8.38971C33.0528 10.2212 34.1928 12.7067 34.1928 15.8463C34.1928 18.1637 33.5761 20.0886 32.3426 21.621C31.1466 23.1534 29.5394 24.2187 27.5211 24.8167ZM13.2806 21.5649H19.5599C21.1297 21.5649 22.3257 21.2285 23.148 20.5558C24.0077 19.8456 24.4375 18.8178 24.4375 17.4722C24.4375 16.1267 24.0077 15.0988 23.148 14.3886C22.3257 13.6785 21.1297 13.3234 19.5599 13.3234H13.2806V21.5649ZM20.3448 37.2631C21.952 37.2631 23.1854 36.908 24.0451 36.1978C24.9421 35.4503 25.3906 34.3851 25.3906 33.0021C25.3906 31.6192 24.9234 30.5353 23.989 29.7504C23.092 28.9655 21.8399 28.573 20.2327 28.573H13.2806V37.2631H20.3448ZM50.2374 18.9299C51.3587 17.2106 52.7603 15.865 54.4422 14.8932C56.1242 13.8841 57.993 13.3795 60.0487 13.3795V23.5272H57.4137C55.0216 23.5272 53.2275 24.0505 52.0315 25.097C50.8354 26.1062 50.2374 27.9002 50.2374 30.4792V45H40.6503V13.7159H50.2374V18.9299ZM78.8716 45.4485C75.8067 45.4485 73.0408 44.7944 70.574 43.4863C68.1445 42.1781 66.2196 40.3092 64.7993 37.8798C63.4164 35.4503 62.7249 32.6097 62.7249 29.3579C62.7249 26.1436 63.4351 23.3216 64.8554 20.8922C66.2757 18.4253 68.2193 16.5378 70.6861 15.2296C73.153 13.9214 75.9188 13.2673 78.9837 13.2673C82.0486 13.2673 84.8144 13.9214 87.2813 15.2296C89.7481 16.5378 91.6917 18.4253 93.112 20.8922C94.5323 23.3216 95.2425 26.1436 95.2425 29.3579C95.2425 32.5723 94.5136 35.4129 93.056 37.8798C91.6357 40.3092 89.6734 42.1781 87.1692 43.4863C84.7023 44.7944 81.9365 45.4485 78.8716 45.4485ZM78.8716 37.1509C80.703 37.1509 82.2542 36.4782 83.525 35.1326C84.8331 33.787 85.4872 31.8622 85.4872 29.3579C85.4872 26.8537 84.8518 24.9288 83.581 23.5833C82.3476 22.2377 80.8152 21.5649 78.9837 21.5649C77.1149 21.5649 75.5638 22.2377 74.3303 23.5833C73.0969 24.8914 72.4802 26.8163 72.4802 29.3579C72.4802 31.8622 73.0782 33.787 74.2743 35.1326C75.5077 36.4782 77.0401 37.1509 78.8716 37.1509ZM98.4224 29.3019C98.4224 26.0875 99.0204 23.2656 100.216 20.8361C101.45 18.4066 103.113 16.5378 105.206 15.2296C107.299 13.9214 109.635 13.2673 112.214 13.2673C114.42 13.2673 116.344 13.7159 117.989 14.6129C119.671 15.5099 120.96 16.6873 121.857 18.145V13.7159H131.445V45H121.857V40.5709C120.923 42.0286 119.615 43.2059 117.933 44.103C116.288 45 114.363 45.4485 112.158 45.4485C109.617 45.4485 107.299 44.7944 105.206 43.4863C103.113 42.1407 101.45 40.2532 100.216 37.8237C99.0204 35.3569 98.4224 32.5162 98.4224 29.3019ZM121.857 29.3579C121.857 26.9658 121.185 25.0783 119.839 23.6954C118.531 22.3125 116.924 21.621 115.018 21.621C113.111 21.621 111.486 22.3125 110.14 23.6954C108.832 25.0409 108.178 26.9098 108.178 29.3019C108.178 31.694 108.832 33.6002 110.14 35.0205C111.486 36.4034 113.111 37.0949 115.018 37.0949C116.924 37.0949 118.531 36.4034 119.839 35.0205C121.185 33.6375 121.857 31.75 121.857 29.3579ZM136.474 29.3019C136.474 26.0875 137.072 23.2656 138.268 20.8361C139.502 18.4066 141.165 16.5378 143.258 15.2296C145.351 13.9214 147.687 13.2673 150.266 13.2673C152.322 13.2673 154.191 13.6972 155.873 14.5568C157.592 15.4165 158.937 16.5752 159.909 18.0329V3.51208H169.496V45H159.909V40.5148C159.012 42.0099 157.723 43.2059 156.041 44.103C154.396 45 152.471 45.4485 150.266 45.4485C147.687 45.4485 145.351 44.7944 143.258 43.4863C141.165 42.1407 139.502 40.2532 138.268 37.8237C137.072 35.3569 136.474 32.5162 136.474 29.3019ZM159.909 29.3579C159.909 26.9658 159.236 25.0783 157.891 23.6954C156.583 22.3125 154.976 21.621 153.069 21.621C151.163 21.621 149.537 22.3125 148.192 23.6954C146.884 25.0409 146.229 26.9098 146.229 29.3019C146.229 31.694 146.884 33.6002 148.192 35.0205C149.537 36.4034 151.163 37.0949 153.069 37.0949C154.976 37.0949 156.583 36.4034 157.891 35.0205C159.236 33.6375 159.909 31.75 159.909 29.3579ZM174.526 29.3579C174.526 26.1062 175.18 23.2656 176.488 20.8361C177.834 18.4066 179.684 16.5378 182.039 15.2296C184.431 13.9214 187.159 13.2673 190.224 13.2673C194.149 13.2673 197.419 14.2952 200.035 16.3509C202.689 18.4066 204.427 21.3033 205.249 25.0409H195.046C194.186 22.6489 192.523 21.4528 190.056 21.4528C188.299 21.4528 186.898 22.1443 185.851 23.5272C184.804 24.8728 184.281 26.8163 184.281 29.3579C184.281 31.8995 184.804 33.8618 185.851 35.2447C186.898 36.5903 188.299 37.2631 190.056 37.2631C192.523 37.2631 194.186 36.067 195.046 33.6749H205.249C204.427 37.3378 202.689 40.2158 200.035 42.3089C197.382 44.402 194.111 45.4485 190.224 45.4485C187.159 45.4485 184.431 44.7944 182.039 43.4863C179.684 42.1781 177.834 40.3092 176.488 37.8798C175.18 35.4503 174.526 32.6097 174.526 29.3579ZM208.471 29.3019C208.471 26.0875 209.069 23.2656 210.265 20.8361C211.499 18.4066 213.162 16.5378 215.255 15.2296C217.348 13.9214 219.684 13.2673 222.263 13.2673C224.469 13.2673 226.393 13.7159 228.038 14.6129C229.72 15.5099 231.009 16.6873 231.906 18.145V13.7159H241.494V45H231.906V40.5709C230.972 42.0286 229.664 43.2059 227.982 44.103C226.337 45 224.412 45.4485 222.207 45.4485C219.666 45.4485 217.348 44.7944 215.255 43.4863C213.162 42.1407 211.499 40.2532 210.265 37.8237C209.069 35.3569 208.471 32.5162 208.471 29.3019ZM231.906 29.3579C231.906 26.9658 231.234 25.0783 229.888 23.6954C228.58 22.3125 226.973 21.621 225.067 21.621C223.16 21.621 221.534 22.3125 220.189 23.6954C218.881 25.0409 218.227 26.9098 218.227 29.3019C218.227 31.694 218.881 33.6002 220.189 35.0205C221.534 36.4034 223.16 37.0949 225.067 37.0949C226.973 37.0949 228.58 36.4034 229.888 35.0205C231.234 33.6375 231.906 31.75 231.906 29.3579ZM261.156 45.4485C258.428 45.4485 255.998 44.9813 253.868 44.0469C251.737 43.1125 250.055 41.8417 248.822 40.2345C247.588 38.5899 246.897 36.7585 246.747 34.7401H256.222C256.334 35.8241 256.839 36.7024 257.736 37.3752C258.633 38.048 259.736 38.3844 261.044 38.3844C262.24 38.3844 263.156 38.1601 263.791 37.7116C264.464 37.2257 264.8 36.609 264.8 35.8614C264.8 34.9644 264.333 34.3103 263.399 33.8992C262.464 33.4507 260.95 32.9648 258.857 32.4415C256.615 31.9182 254.746 31.3763 253.251 30.8156C251.756 30.2176 250.466 29.3019 249.382 28.0684C248.299 26.7976 247.757 25.097 247.757 22.9666C247.757 21.1725 248.242 19.5466 249.214 18.0889C250.223 16.5939 251.681 15.4165 253.587 14.5568C255.531 13.6972 257.83 13.2673 260.483 13.2673C264.408 13.2673 267.491 14.2391 269.734 16.1827C272.014 18.1263 273.322 20.7053 273.658 23.9197H264.8C264.651 22.8357 264.165 21.9761 263.343 21.3407C262.558 20.7053 261.511 20.3876 260.203 20.3876C259.082 20.3876 258.222 20.6118 257.624 21.0603C257.026 21.4715 256.727 22.0508 256.727 22.7984C256.727 23.6954 257.194 24.3682 258.129 24.8167C259.1 25.2652 260.595 25.7137 262.614 26.1622C264.931 26.7603 266.819 27.3583 268.276 27.9563C269.734 28.517 271.005 29.4514 272.089 30.7596C273.21 32.0304 273.789 33.7497 273.827 35.9175C273.827 37.749 273.303 39.3935 272.257 40.8512C271.248 42.2715 269.771 43.3928 267.828 44.2151C265.922 45.0374 263.698 45.4485 261.156 45.4485ZM297.128 36.8706V45H292.251C288.775 45 286.065 44.159 284.121 42.4771C282.178 40.7578 281.206 37.9732 281.206 34.1234V21.6771H277.393V13.7159H281.206V6.09106H290.793V13.7159H297.072V21.6771H290.793V34.2356C290.793 35.17 291.017 35.8428 291.466 36.2539C291.914 36.665 292.662 36.8706 293.708 36.8706H297.128ZM334.42 45L326.235 30.1428H323.936V45H314.349V5.64254H330.44C333.542 5.64254 336.177 6.1845 338.345 7.26842C340.55 8.35234 342.195 9.8474 343.279 11.7536C344.363 13.6224 344.905 15.7155 344.905 18.0329C344.905 20.6492 344.157 22.9852 342.662 25.0409C341.204 27.0967 339.036 28.5543 336.158 29.414L345.241 45H334.42ZM323.936 23.359H329.879C331.636 23.359 332.944 22.9292 333.804 22.0695C334.701 21.2099 335.149 19.9951 335.149 18.4253C335.149 16.9302 334.701 15.7529 333.804 14.8932C332.944 14.0336 331.636 13.6037 329.879 13.6037H323.936V23.359ZM349.017 29.3019C349.017 26.0875 349.615 23.2656 350.811 20.8361C352.044 18.4066 353.707 16.5378 355.8 15.2296C357.893 13.9214 360.229 13.2673 362.808 13.2673C365.014 13.2673 366.939 13.7159 368.583 14.6129C370.265 15.5099 371.555 16.6873 372.452 18.145V13.7159H382.039V45H372.452V40.5709C371.517 42.0286 370.209 43.2059 368.527 44.103C366.882 45 364.958 45.4485 362.752 45.4485C360.211 45.4485 357.893 44.7944 355.8 43.4863C353.707 42.1407 352.044 40.2532 350.811 37.8237C349.615 35.3569 349.017 32.5162 349.017 29.3019ZM372.452 29.3579C372.452 26.9658 371.779 25.0783 370.433 23.6954C369.125 22.3125 367.518 21.621 365.612 21.621C363.705 21.621 362.08 22.3125 360.734 23.6954C359.426 25.0409 358.772 26.9098 358.772 29.3019C358.772 31.694 359.426 33.6002 360.734 35.0205C362.08 36.4034 363.705 37.0949 365.612 37.0949C367.518 37.0949 369.125 36.4034 370.433 35.0205C371.779 33.6375 372.452 31.75 372.452 29.3579ZM387.068 29.3019C387.068 26.0875 387.666 23.2656 388.862 20.8361C390.096 18.4066 391.759 16.5378 393.852 15.2296C395.945 13.9214 398.281 13.2673 400.86 13.2673C402.916 13.2673 404.785 13.6972 406.467 14.5568C408.186 15.4165 409.532 16.5752 410.503 18.0329V3.51208H420.09V45H410.503V40.5148C409.606 42.0099 408.317 43.2059 406.635 44.103C404.99 45 403.065 45.4485 400.86 45.4485C398.281 45.4485 395.945 44.7944 393.852 43.4863C391.759 42.1407 390.096 40.2532 388.862 37.8237C387.666 35.3569 387.068 32.5162 387.068 29.3019ZM410.503 29.3579C410.503 26.9658 409.831 25.0783 408.485 23.6954C407.177 22.3125 405.57 21.621 403.663 21.621C401.757 21.621 400.131 22.3125 398.786 23.6954C397.478 25.0409 396.824 26.9098 396.824 29.3019C396.824 31.694 397.478 33.6002 398.786 35.0205C400.131 36.4034 401.757 37.0949 403.663 37.0949C405.57 37.0949 407.177 36.4034 408.485 35.0205C409.831 33.6375 410.503 31.75 410.503 29.3579ZM431.848 10.4641C430.166 10.4641 428.783 9.97821 427.699 9.00643C426.652 7.99726 426.129 6.76384 426.129 5.30615C426.129 3.81109 426.652 2.57767 427.699 1.60588C428.783 0.596711 430.166 0.0921284 431.848 0.0921284C433.492 0.0921284 434.838 0.596711 435.884 1.60588C436.968 2.57767 437.51 3.81109 437.51 5.30615C437.51 6.76384 436.968 7.99726 435.884 9.00643C434.838 9.97821 433.492 10.4641 431.848 10.4641ZM436.613 13.7159V45H427.026V13.7159H436.613ZM457.801 45.4485C454.737 45.4485 451.971 44.7944 449.504 43.4863C447.074 42.1781 445.149 40.3092 443.729 37.8798C442.346 35.4503 441.655 32.6097 441.655 29.3579C441.655 26.1436 442.365 23.3216 443.785 20.8922C445.206 18.4253 447.149 16.5378 449.616 15.2296C452.083 13.9214 454.849 13.2673 457.914 13.2673C460.978 13.2673 463.744 13.9214 466.211 15.2296C468.678 16.5378 470.622 18.4253 472.042 20.8922C473.462 23.3216 474.172 26.1436 474.172 29.3579C474.172 32.5723 473.443 35.4129 471.986 37.8798C470.565 40.3092 468.603 42.1781 466.099 43.4863C463.632 44.7944 460.866 45.4485 457.801 45.4485ZM457.801 37.1509C459.633 37.1509 461.184 36.4782 462.455 35.1326C463.763 33.787 464.417 31.8622 464.417 29.3579C464.417 26.8537 463.782 24.9288 462.511 23.5833C461.277 22.2377 459.745 21.5649 457.914 21.5649C456.045 21.5649 454.494 22.2377 453.26 23.5833C452.027 24.8914 451.41 26.8163 451.41 29.3579C451.41 31.8622 452.008 33.787 453.204 35.1326C454.438 36.4782 455.97 37.1509 457.801 37.1509Z"
                      fill="#404040"/>
            </svg>
            <a href="#"
               class="shadow-xl py-4 mb-6 flex flex-row items-center border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 bg-white p-2"
               style="min-width: 300px;">
                <img class="radio-image" src="<%= cover %>" alt="">
                <div class="flex flex-col justify-between leading-normal pl-2 w-full">
                    <p class="text-lg font-bold tracking-tight text-gray-900 text-center"><%= title %></p>
                    <p class="ready-broadcast-text text-center">Ready to Broadcast</p>
                    <p id="status" class="font-medium text-green-600"></p>
                </div>
            </a>
            <div class="flex gap-3 w-full border border-picton-blue-100 p-5 rounded-2xl bg-white shadow-xl">
                <div class="flex flex-col justify-center w-full">
                    <p class="mb-2 text-xl font-medium text-center">Broadcast</p>
                    <button id="broadcast-control" type="button"
                            class="w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 bg-picton-blue-500 hover:bg-picton-blue-600 focus:outline-none focus:ring-picton-blue-400"
                    >
                        Start Now
                    </button>
                </div>
                <div class="flex flex-col justify-center w-full">
                    <p class="mb-2 text-xl font-medium text-center">Monitoring Audio</p>
                    <button id="audio-monitor-control" type="button"
                            class="w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 bg-radical-red-500 hover:bg-radical-red-600 focus:outline-none focus:ring-radical-red-400"
                    >
                        Mute
                    </button>
                </div>
            </div>

            <div class="mt-5 w-full border border-picton-blue-100 p-5 rounded-2xl bg-white shadow-xl">
                <p class="mb-2 text-xl font-medium text-center">Source Control</p>
                <div class="flex flex-row gap-3 w-full">
                    <div class="flex flex-col w-full">
                        <div class="h-10 bg-white mb-2 rounded-md flex px-1 justify-center items-center  border border-gray-300">
                            <p>Now playing cukurukuk.mp3</p>
                        </div>
                        <!--                        <label class="flex flex-col" for="upload-playlist">-->
                        <!--                            <input class="hidden" id="upload-playlist" type="text">-->
                        <!--                        </label>-->
                        <label for="music-volume-range">
                            <input id="music-volume-range" type="range" value="50"
                                   class="w-full mb-4 h-2 bg-gray-300 rounded-lg appearance-none accent-picton-blue-500 cursor-pointer">
                        </label>
                        <div class="flex flex-col gap-2">
                            <button id="music-mute-control" type="button"
                                    class="w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 bg-radical-red-500 hover:bg-radical-red-600 focus:outline-none focus:ring-radical-red-400">
                                Mute
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <label class="flex flex-col" for="audio-input">
                            <select id="audio-input" name="audio"
                                    class="text-center mb-2 h-10 border border-gray-300 rounded-lg focus:outline-none">
                                <option value="mic-1">Microphone 1</option>
                                <option value="mic-2">Microphone 2</option>
                                <option value="mic-3">Microphone 3</option>
                            </select>
                        </label>
                        <label for="mic-volume-range">
                            <input id="mic-volume-range" type="range" value="50"
                                   class="w-full mb-4 h-2 bg-gray-300 rounded-lg appearance-none accent-picton-blue-500 cursor-pointer">
                        </label>
                        <div class="flex flex-col gap-2">
                            <button id="mic-mute-control" type="button"
                                    class="w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 bg-radical-red-500 hover:bg-radical-red-600 focus:outline-none focus:ring-radical-red-400">
                                Mute
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 w-full border border-picton-blue-100 p-5 rounded-2xl bg-white shadow-xl">
                <p class="mb-2 text-xl font-medium text-center">Playlist Lagu</p>
                <div class="overflow-hidden flex flex-col mx-2 max-h-36 rounded-2xl bg-white border">
                    <div class="overflow-y-auto">
                        <div class="flex flex-row justify-between py-2 px-4">
                            <p>title</p>
                            <div class="flex flex-row gap-4">
                                <button class="focus:outline-none">
                                    Delete
                                </button>
                                <button class="focus:outline-none">
                                    Play
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between py-2 px-4">
                            <p>title</p>
                            <div class="flex flex-row gap-4">
                                <button class="focus:outline-none">
                                    Delete
                                </button>
                                <button class="focus:outline-none">
                                    Play
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between py-2 px-4">
                            <p>title</p>
                            <div class="flex flex-row gap-4">
                                <button class="focus:outline-none">
                                    Delete
                                </button>
                                <button class="focus:outline-none">
                                    Play
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between py-2 px-4">
                            <p>title</p>
                            <div class="flex flex-row gap-4">
                                <button class="focus:outline-none">
                                    Delete
                                </button>
                                <button class="focus:outline-none">
                                    Play
                                </button>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>

        <svg style="width: 2px; height: 500px; display: block; margin: auto;" xmlns="http://www.w3.org/2000/svg">
            <line x1="1" y1="1" x2="1" y2=100% stroke="#A0E9FF" stroke-width="2" stroke-linecap="round"/>
        </svg>

        <div class="flex flex-col items-center mb-6 w-[40%] px-11">
            <svg width="267" height="64" viewBox="0 0 267 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="mb-6">
                <path d="M59 60.3931C68.911 52.889 101.221 39.7498 151.173 47.2255" stroke="#FFB703"
                      stroke-width="6.79614"/>
                <path d="M13.5188 37.5995H26.0773V45H3.93172V5.64254H13.5188V37.5995ZM35.4716 10.4641C33.7897 10.4641 32.4068 9.97821 31.3229 9.00643C30.2763 7.99726 29.753 6.76384 29.753 5.30615C29.753 3.81109 30.2763 2.57767 31.3229 1.60588C32.4068 0.596711 33.7897 0.0921284 35.4716 0.0921284C37.1162 0.0921284 38.4618 0.596711 39.5083 1.60588C40.5922 2.57767 41.1342 3.81109 41.1342 5.30615C41.1342 6.76384 40.5922 7.99726 39.5083 9.00643C38.4618 9.97821 37.1162 10.4641 35.4716 10.4641ZM40.2372 13.7159V45H30.6501V13.7159H40.2372ZM61.2571 36.0296L68.0409 13.7159H78.2447L67.1439 45H55.3142L44.2134 13.7159H54.4732L61.2571 36.0296ZM111.77 28.8533C111.77 29.7504 111.714 30.6848 111.602 31.6566H89.9048C90.0543 33.6002 90.671 35.0952 91.755 36.1418C92.8763 37.1509 94.2405 37.6555 95.8477 37.6555C98.2398 37.6555 99.903 36.6464 100.837 34.628H111.041C110.518 36.6837 109.565 38.5339 108.182 40.1784C106.836 41.823 105.136 43.1125 103.08 44.0469C101.024 44.9813 98.7257 45.4485 96.1841 45.4485C93.1192 45.4485 90.3907 44.7944 87.9986 43.4863C85.6065 42.1781 83.7377 40.3092 82.3922 37.8798C81.0466 35.4503 80.3738 32.6097 80.3738 29.3579C80.3738 26.1062 81.0279 23.2656 82.3361 20.8361C83.6816 18.4066 85.5505 16.5378 87.9426 15.2296C90.3347 13.9214 93.0818 13.2673 96.1841 13.2673C99.2116 13.2673 101.903 13.9027 104.257 15.1736C106.612 16.4444 108.444 18.2571 109.752 20.6118C111.097 22.9666 111.77 25.7137 111.77 28.8533ZM101.959 26.3304C101.959 24.6859 101.398 23.3777 100.277 22.4059C99.1555 21.4341 97.7539 20.9482 96.072 20.9482C94.4648 20.9482 93.1005 21.4154 91.9792 22.3498C90.8953 23.2843 90.2225 24.6111 89.9609 26.3304H101.959ZM127.083 25.2652C127.083 21.378 127.924 17.9207 129.606 14.8932C131.288 11.8284 133.624 9.45494 136.614 7.773C139.641 6.05368 143.061 5.19402 146.874 5.19402C151.546 5.19402 155.545 6.42745 158.871 8.8943C162.198 11.3611 164.422 14.725 165.543 18.986H155.003C154.218 17.3414 153.097 16.0893 151.639 15.2296C150.219 14.37 148.593 13.9401 146.762 13.9401C143.809 13.9401 141.417 14.968 139.585 17.0237C137.754 19.0794 136.838 21.8266 136.838 25.2652C136.838 28.7038 137.754 31.451 139.585 33.5067C141.417 35.5624 143.809 36.5903 146.762 36.5903C148.593 36.5903 150.219 36.1605 151.639 35.3008C153.097 34.4411 154.218 33.189 155.003 31.5445H165.543C164.422 35.8054 162.198 39.1693 158.871 41.6361C155.545 44.0656 151.546 45.2803 146.874 45.2803C143.061 45.2803 139.641 44.4394 136.614 42.7574C133.624 41.0381 131.288 38.6647 129.606 35.6372C127.924 32.6097 127.083 29.1524 127.083 25.2652ZM190.644 13.3795C194.233 13.3795 197.111 14.5755 199.278 16.9676C201.446 19.3223 202.53 22.5741 202.53 26.7229V45H192.999V28.0124C192.999 25.9193 192.457 24.2934 191.373 23.1347C190.289 21.9761 188.832 21.3967 187 21.3967C185.169 21.3967 183.711 21.9761 182.627 23.1347C181.543 24.2934 181.001 25.9193 181.001 28.0124V45H171.414V3.51208H181.001V17.9207C181.973 16.5378 183.3 15.4352 184.982 14.6129C186.664 13.7906 188.551 13.3795 190.644 13.3795ZM207.286 29.3019C207.286 26.0875 207.884 23.2656 209.08 20.8361C210.314 18.4066 211.977 16.5378 214.07 15.2296C216.163 13.9214 218.499 13.2673 221.078 13.2673C223.283 13.2673 225.208 13.7159 226.853 14.6129C228.535 15.5099 229.824 16.6873 230.721 18.145V13.7159H240.308V45H230.721V40.5709C229.787 42.0286 228.479 43.2059 226.797 44.103C225.152 45 223.227 45.4485 221.022 45.4485C218.48 45.4485 216.163 44.7944 214.07 43.4863C211.977 42.1407 210.314 40.2532 209.08 37.8237C207.884 35.3569 207.286 32.5162 207.286 29.3019ZM230.721 29.3579C230.721 26.9658 230.048 25.0783 228.703 23.6954C227.395 22.3125 225.787 21.621 223.881 21.621C221.975 21.621 220.349 22.3125 219.004 23.6954C217.695 25.0409 217.041 26.9098 217.041 29.3019C217.041 31.694 217.695 33.6002 219.004 35.0205C220.349 36.4034 221.975 37.0949 223.881 37.0949C225.787 37.0949 227.395 36.4034 228.703 35.0205C230.048 33.6375 230.721 31.75 230.721 29.3579ZM264.68 36.8706V45H259.802C256.326 45 253.617 44.159 251.673 42.4771C249.73 40.7578 248.758 37.9732 248.758 34.1234V21.6771H244.945V13.7159H248.758V6.09106H258.345V13.7159H264.624V21.6771H258.345V34.2356C258.345 35.17 258.569 35.8428 259.018 36.2539C259.466 36.665 260.214 36.8706 261.26 36.8706H264.68Z"
                      fill="#404040"/>
            </svg>
            <div class="flex flex-col bg-white rounded-2xl overflow-hidden shadow-xl ">
                <div>
                    <div class="py-5 justify-center border-b-gray-400">
                        <p class="text-center">Live Chat <%= title %></p>
                    </div>
                    <hr>
                </div>
                <div id="chat-box" class="flex flex-col h-full px-5 py-5 gap-3 overflow-y-auto"
                     style="height: 400px;">
                    <p><span class="mr-4 font-semibold">Sandra</span><span>Wow, lagu ini juara banget!</span></p>
                    <p>
                        <span class="mr-4 font-semibold">Rizky</span><span>Salam buat DJ favoritku dari Jakarta!</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Mark</span><span>Tolong putar lagu Taylor Swift dong!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Anna</span><span>Pusing, bisa minta lagu yang lebih upbeat?</span>
                    </p>
                    <p><span class="mr-4 font-semibold">David</span><span>Suasana ini bikin pengen ngerumpi sama teman-teman!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Luna</span><span>Ingin denger lagu indie lokal, ada rekomendasi?</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Khaled</span><span>Suara DJ-nya keren banget!</span></p>
                    <p>
                        <span class="mr-4 font-semibold">Sophia</span><span>Ini playlist pas banget buat kerja!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Yusuf</span><span>Lagu-lagu ini bener-bener nostalgia!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Eva</span><span>Tolong sampaikan salam ke teman-teman di sana!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Carlos</span><span>Aduh, lagu favoritku sedang diputar!</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Melissa</span><span>Ada kontes apa nih hari ini?</span></p>
                    <p><span class="mr-4 font-semibold">Ryan</span><span>Playlist-nya kece, tetapkan!</span></p>
                    <p>
                        <span class="mr-4 font-semibold">Nadia</span><span>Bikin suasana hati jadi ceria, terima kasih!</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Jasmine</span><span>Suasana di sini keren banget, semoga bisa kesini suatu hari.</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Ahmed</span><span>Apakah ada update terbaru dari artis lokal?</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Grace</span><span>Harus dicatat nih, lagunya bagus semua!</span>
                    </p>
                    <p>
                        <span class="mr-4 font-semibold">Michael</span><span>Mood-ku langsung bagus saat dengerin ini.</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Laura</span><span>Ada rekomendasi lagu yang pas untuk perjalanan?</span>
                    </p>
                    <p><span class="mr-4 font-semibold">Daniel</span><span>Bisa ngucapin selamat ulang tahun buat temenku di sana?</span>
                    </p>
                </div>
                <div>
                    <hr>
                    <form id="on-submit-chat">
                        <div class=" flex-row py-2 px-5 flex">
                            <div class="flex flex-col gap-2 mr-3 w-full">
                                <label for="name-chat">
                                    <input class="rounded-2xl border px-2 py-1 border-gray-200 w-full" id="name-chat"
                                           type="text"
                                           placeholder="Nama..">
                                </label>
                                <label for="new-chat">
                                    <input class="rounded-2xl border px-2 py-1 border-gray-200 w-full" id="new-chat"
                                           type="text"
                                           placeholder="Chat sebagai pendengar..">
                                </label>
                            </div>
                            <button id="new-chat-btn" class="p-2 h-auto bg-gray-200 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <input id="radioId" hidden="hidden" value="<%= id %>" type="text">
    <input id="radioName" hidden="hidden" value="<%= title %>" type="text">

    <div class="flex flex-col w-full items-center py-10">
        <svg width="280" height="102" viewBox="0 0 280 102" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M82.1866 12.112C81.4079 12.112 80.7039 11.9787 80.0746 11.712C79.4559 11.4453 78.9652 11.0613 78.6026 10.56C78.2399 10.0587 78.0532 9.46667 78.0426 8.784H80.4426C80.4746 9.24267 80.6346 9.60533 80.9226 9.872C81.2212 10.1387 81.6266 10.272 82.1386 10.272C82.6612 10.272 83.0719 10.1493 83.3706 9.904C83.6692 9.648 83.8186 9.31733 83.8186 8.912C83.8186 8.58133 83.7172 8.30933 83.5146 8.096C83.3119 7.88267 83.0559 7.71733 82.7466 7.6C82.4479 7.472 82.0319 7.33333 81.4986 7.184C80.7732 6.97067 80.1812 6.76267 79.7226 6.56C79.2746 6.34667 78.8852 6.032 78.5546 5.616C78.2346 5.18933 78.0746 4.624 78.0746 3.92C78.0746 3.25867 78.2399 2.68267 78.5706 2.192C78.9012 1.70133 79.3652 1.328 79.9626 1.072C80.5599 0.805333 81.2426 0.672 82.0106 0.672C83.1626 0.672 84.0959 0.954666 84.8106 1.52C85.5359 2.07467 85.9359 2.85333 86.0106 3.856H83.5466C83.5252 3.472 83.3599 3.15733 83.0506 2.912C82.7519 2.656 82.3519 2.528 81.8506 2.528C81.4132 2.528 81.0612 2.64 80.7946 2.864C80.5386 3.088 80.4106 3.41333 80.4106 3.84C80.4106 4.13867 80.5066 4.38933 80.6986 4.592C80.9012 4.784 81.1466 4.944 81.4346 5.072C81.7332 5.18933 82.1492 5.328 82.6826 5.488C83.4079 5.70133 83.9999 5.91467 84.4586 6.128C84.9172 6.34133 85.3119 6.66133 85.6426 7.088C85.9732 7.51467 86.1386 8.07467 86.1386 8.768C86.1386 9.36533 85.9839 9.92 85.6746 10.432C85.3652 10.944 84.9119 11.3547 84.3146 11.664C83.7172 11.9627 83.0079 12.112 82.1866 12.112ZM96.4486 3.136V12H94.1926V10.88C93.9046 11.264 93.5259 11.568 93.0566 11.792C92.5979 12.0053 92.0966 12.112 91.5526 12.112C90.8592 12.112 90.2459 11.968 89.7126 11.68C89.1792 11.3813 88.7579 10.9493 88.4486 10.384C88.1499 9.808 88.0006 9.12533 88.0006 8.336V3.136H90.2406V8.016C90.2406 8.72 90.4166 9.264 90.7686 9.648C91.1206 10.0213 91.6006 10.208 92.2086 10.208C92.8272 10.208 93.3126 10.0213 93.6646 9.648C94.0166 9.264 94.1926 8.72 94.1926 8.016V3.136H96.4486ZM100.899 4.416C101.187 4.01067 101.581 3.67467 102.083 3.408C102.595 3.13067 103.176 2.992 103.827 2.992C104.584 2.992 105.267 3.17867 105.875 3.552C106.493 3.92533 106.979 4.45867 107.331 5.152C107.693 5.83467 107.875 6.62933 107.875 7.536C107.875 8.44267 107.693 9.248 107.331 9.952C106.979 10.6453 106.493 11.184 105.875 11.568C105.267 11.952 104.584 12.144 103.827 12.144C103.176 12.144 102.6 12.0107 102.099 11.744C101.608 11.4773 101.208 11.1413 100.899 10.736V16.224H98.6587V3.136H100.899V4.416ZM105.587 7.536C105.587 7.00267 105.475 6.544 105.251 6.16C105.037 5.76533 104.749 5.46667 104.387 5.264C104.035 5.06133 103.651 4.96 103.235 4.96C102.829 4.96 102.445 5.06667 102.083 5.28C101.731 5.48267 101.443 5.78133 101.219 6.176C101.005 6.57067 100.899 7.03467 100.899 7.568C100.899 8.10133 101.005 8.56533 101.219 8.96C101.443 9.35467 101.731 9.65867 102.083 9.872C102.445 10.0747 102.829 10.176 103.235 10.176C103.651 10.176 104.035 10.0693 104.387 9.856C104.749 9.64267 105.037 9.33867 105.251 8.944C105.475 8.54933 105.587 8.08 105.587 7.536ZM113.438 12.144C112.585 12.144 111.817 11.9573 111.134 11.584C110.452 11.2 109.913 10.6613 109.518 9.968C109.134 9.27467 108.942 8.47467 108.942 7.568C108.942 6.66133 109.14 5.86133 109.534 5.168C109.94 4.47467 110.489 3.94133 111.182 3.568C111.876 3.184 112.649 2.992 113.502 2.992C114.356 2.992 115.129 3.184 115.822 3.568C116.516 3.94133 117.06 4.47467 117.454 5.168C117.86 5.86133 118.062 6.66133 118.062 7.568C118.062 8.47467 117.854 9.27467 117.438 9.968C117.033 10.6613 116.478 11.2 115.774 11.584C115.081 11.9573 114.302 12.144 113.438 12.144ZM113.438 10.192C113.844 10.192 114.222 10.096 114.574 9.904C114.937 9.70133 115.225 9.40267 115.438 9.008C115.652 8.61333 115.758 8.13333 115.758 7.568C115.758 6.72533 115.534 6.08 115.086 5.632C114.649 5.17333 114.11 4.944 113.47 4.944C112.83 4.944 112.292 5.17333 111.854 5.632C111.428 6.08 111.214 6.72533 111.214 7.568C111.214 8.41067 111.422 9.06133 111.838 9.52C112.265 9.968 112.798 10.192 113.438 10.192ZM121.946 4.512C122.234 4.04267 122.607 3.67467 123.066 3.408C123.535 3.14133 124.068 3.008 124.666 3.008V5.36H124.074C123.37 5.36 122.836 5.52533 122.474 5.856C122.122 6.18667 121.946 6.76267 121.946 7.584V12H119.706V3.136H121.946V4.512ZM128.782 4.976V9.264C128.782 9.56267 128.852 9.78133 128.99 9.92C129.14 10.048 129.385 10.112 129.726 10.112H130.766V12H129.358C127.47 12 126.526 11.0827 126.526 9.248V4.976H125.47V3.136H126.526V0.943999H128.782V3.136H130.766V4.976H128.782ZM140.617 7.376C140.617 7.696 140.596 7.984 140.553 8.24H134.073C134.127 8.88 134.351 9.38133 134.745 9.744C135.14 10.1067 135.625 10.288 136.201 10.288C137.033 10.288 137.625 9.93067 137.977 9.216H140.393C140.137 10.0693 139.647 10.7733 138.921 11.328C138.196 11.872 137.305 12.144 136.249 12.144C135.396 12.144 134.628 11.9573 133.945 11.584C133.273 11.2 132.745 10.6613 132.361 9.968C131.988 9.27467 131.801 8.47467 131.801 7.568C131.801 6.65067 131.988 5.84533 132.361 5.152C132.735 4.45867 133.257 3.92533 133.929 3.552C134.601 3.17867 135.375 2.992 136.249 2.992C137.092 2.992 137.844 3.17333 138.505 3.536C139.177 3.89867 139.695 4.416 140.057 5.088C140.431 5.74933 140.617 6.512 140.617 7.376ZM138.297 6.736C138.287 6.16 138.079 5.70133 137.673 5.36C137.268 5.008 136.772 4.832 136.185 4.832C135.631 4.832 135.161 5.00267 134.777 5.344C134.404 5.67467 134.175 6.13867 134.089 6.736H138.297ZM141.676 7.536C141.676 6.64 141.852 5.84533 142.204 5.152C142.567 4.45867 143.058 3.92533 143.676 3.552C144.295 3.17867 144.983 2.992 145.74 2.992C146.316 2.992 146.866 3.12 147.388 3.376C147.911 3.62133 148.327 3.952 148.636 4.368V0.16H150.908V12H148.636V10.688C148.359 11.1253 147.97 11.4773 147.468 11.744C146.967 12.0107 146.386 12.144 145.724 12.144C144.978 12.144 144.295 11.952 143.676 11.568C143.058 11.184 142.567 10.6453 142.204 9.952C141.852 9.248 141.676 8.44267 141.676 7.536ZM148.652 7.568C148.652 7.024 148.546 6.56 148.332 6.176C148.119 5.78133 147.831 5.48267 147.468 5.28C147.106 5.06667 146.716 4.96 146.3 4.96C145.884 4.96 145.5 5.06133 145.148 5.264C144.796 5.46667 144.508 5.76533 144.284 6.16C144.071 6.544 143.964 7.00267 143.964 7.536C143.964 8.06933 144.071 8.53867 144.284 8.944C144.508 9.33867 144.796 9.64267 145.148 9.856C145.511 10.0693 145.895 10.176 146.3 10.176C146.716 10.176 147.106 10.0747 147.468 9.872C147.831 9.65867 148.119 9.36 148.332 8.976C148.546 8.58133 148.652 8.112 148.652 7.568ZM163.245 6.272C163.874 6.38933 164.391 6.704 164.797 7.216C165.202 7.728 165.405 8.31467 165.405 8.976C165.405 9.57333 165.255 10.1013 164.957 10.56C164.669 11.008 164.247 11.36 163.693 11.616C163.138 11.872 162.482 12 161.725 12H156.909V0.832H161.517C162.274 0.832 162.925 0.954666 163.469 1.2C164.023 1.44533 164.439 1.78667 164.717 2.224C165.005 2.66133 165.149 3.15733 165.149 3.712C165.149 4.36267 164.973 4.90667 164.621 5.344C164.279 5.78133 163.821 6.09067 163.245 6.272ZM159.149 5.44H161.197C161.73 5.44 162.141 5.32267 162.429 5.088C162.717 4.84267 162.861 4.496 162.861 4.048C162.861 3.6 162.717 3.25333 162.429 3.008C162.141 2.76267 161.73 2.64 161.197 2.64H159.149V5.44ZM161.405 10.176C161.949 10.176 162.37 10.048 162.669 9.792C162.978 9.536 163.133 9.17333 163.133 8.704C163.133 8.224 162.973 7.85067 162.653 7.584C162.333 7.30667 161.901 7.168 161.357 7.168H159.149V10.176H161.405ZM175.67 3.136L170.182 16.192H167.798L169.718 11.776L166.166 3.136H168.678L170.966 9.328L173.286 3.136H175.67Z"
                  fill="white"/>
            <path d="M11.2999 45.6514C11.2999 40.3178 15.9972 36.2049 21.284 36.9092L266.003 69.5132C272.26 70.3469 275.641 77.2924 272.437 82.7315L269.774 87.2523C268.255 89.8315 265.531 91.464 262.541 91.588L20.4845 101.619C15.4747 101.827 11.2999 97.8216 11.2999 92.8076V45.6514Z"
                  fill="#023047"/>
            <path d="M0 38.0723C0 32.7388 4.69731 28.6259 9.9841 29.3302L254.703 61.9342C260.96 62.7679 264.341 69.7134 261.137 75.1525L258.475 79.6733C256.955 82.2525 254.231 83.885 251.241 84.009L9.18457 94.0404C4.17478 94.248 0 90.2426 0 85.2285V38.0723Z"
                  fill="#00A9FF"/>
            <path d="M58.6562 81.331C65.0871 76.462 86.0515 67.9366 118.463 72.7873" stroke="#FFB703"
                  stroke-width="4.40969"/>
            <path d="M34.0601 70.3509L28.749 60.7108H27.2575V70.3509H21.0369V44.8137H31.4773C33.4902 44.8137 35.2 45.1654 36.6066 45.8687C38.0374 46.572 39.1045 47.542 39.8078 48.7789C40.5111 49.9915 40.8628 51.3496 40.8628 52.8532C40.8628 54.5508 40.3777 56.0666 39.4077 57.4004C38.4618 58.7343 37.0552 59.6801 35.1879 60.2379L41.081 70.3509H34.0601ZM27.2575 56.3091H31.1135C32.2534 56.3091 33.1022 56.0302 33.66 55.4724C34.242 54.9146 34.5331 54.1264 34.5331 53.1078C34.5331 52.1378 34.242 51.3738 33.66 50.816C33.1022 50.2583 32.2534 49.9794 31.1135 49.9794H27.2575V56.3091ZM43.5309 60.1651C43.5309 58.0795 43.9189 56.2485 44.6949 54.6721C45.4953 53.0957 46.5745 51.8831 47.9326 51.0343C49.2907 50.1855 50.8064 49.7611 52.4798 49.7611C53.9106 49.7611 55.1596 50.0521 56.2267 50.6342C57.318 51.2162 58.1547 51.9801 58.7368 52.926V50.0521H64.9573V70.3509H58.7368V67.477C58.1305 68.4229 57.2816 69.1868 56.1903 69.7688C55.1232 70.3509 53.8743 70.6419 52.4434 70.6419C50.7943 70.6419 49.2907 70.2175 47.9326 69.3687C46.5745 68.4956 45.4953 67.2709 44.6949 65.6945C43.9189 64.0939 43.5309 62.2508 43.5309 60.1651ZM58.7368 60.2015C58.7368 58.6494 58.3002 57.4247 57.4272 56.5274C56.5783 55.63 55.5355 55.1814 54.2987 55.1814C53.0618 55.1814 52.0069 55.63 51.1338 56.5274C50.285 57.4004 49.8606 58.613 49.8606 60.1651C49.8606 61.7172 50.285 62.9541 51.1338 63.8757C52.0069 64.773 53.0618 65.2216 54.2987 65.2216C55.5355 65.2216 56.5783 64.773 57.4272 63.8757C58.3002 62.9783 58.7368 61.7536 58.7368 60.2015ZM68.2208 60.1651C68.2208 58.0795 68.6089 56.2485 69.3849 54.6721C70.1852 53.0957 71.2644 51.8831 72.6225 51.0343C73.9806 50.1855 75.4964 49.7611 77.1697 49.7611C78.5036 49.7611 79.7162 50.04 80.8075 50.5978C81.9231 51.1556 82.7962 51.9074 83.4267 52.8532V43.4314H89.6473V70.3509H83.4267V67.4407C82.8447 68.4107 82.008 69.1868 80.9167 69.7688C79.8496 70.3509 78.6006 70.6419 77.1697 70.6419C75.4964 70.6419 73.9806 70.2175 72.6225 69.3687C71.2644 68.4956 70.1852 67.2709 69.3849 65.6945C68.6089 64.0939 68.2208 62.2508 68.2208 60.1651ZM83.4267 60.2015C83.4267 58.6494 82.9902 57.4247 82.1171 56.5274C81.2683 55.63 80.2255 55.1814 78.9886 55.1814C77.7518 55.1814 76.6968 55.63 75.8238 56.5274C74.975 57.4004 74.5506 58.613 74.5506 60.1651C74.5506 61.7172 74.975 62.9541 75.8238 63.8757C76.6968 64.773 77.7518 65.2216 78.9886 65.2216C80.2255 65.2216 81.2683 64.773 82.1171 63.8757C82.9902 62.9783 83.4267 61.7536 83.4267 60.2015ZM126.514 70.6419C124.526 70.6419 122.731 70.2175 121.131 69.3687C119.554 68.5199 118.305 67.3073 117.384 65.7309C116.486 64.1546 116.038 62.3114 116.038 60.2015C116.038 58.1158 116.498 56.2848 117.42 54.7085C118.342 53.1078 119.603 51.8831 121.203 51.0343C122.804 50.1855 124.599 49.7611 126.587 49.7611C128.576 49.7611 130.37 50.1855 131.971 51.0343C133.572 51.8831 134.833 53.1078 135.754 54.7085C136.676 56.2848 137.137 58.1158 137.137 60.2015C137.137 62.2872 136.664 64.1303 135.718 65.7309C134.796 67.3073 133.523 68.5199 131.898 69.3687C130.298 70.2175 128.503 70.6419 126.514 70.6419ZM126.514 65.258C127.703 65.258 128.709 64.8215 129.534 63.9484C130.383 63.0753 130.807 61.8264 130.807 60.2015C130.807 58.5766 130.395 57.3277 129.57 56.4546C128.77 55.5815 127.776 55.145 126.587 55.145C125.375 55.145 124.368 55.5815 123.568 56.4546C122.768 57.3034 122.367 58.5524 122.367 60.2015C122.367 61.8264 122.755 63.0753 123.531 63.9484C124.332 64.8215 125.326 65.258 126.514 65.258ZM170.263 44.8137V70.3509H164.043V59.8377H154.366V70.3509H148.146V44.8137H154.366V54.8176H164.043V44.8137H170.263ZM193.889 59.8741C193.889 60.4561 193.852 61.0624 193.78 61.693H179.702C179.799 62.9541 180.199 63.9242 180.902 64.6032C181.63 65.258 182.515 65.5854 183.558 65.5854C185.11 65.5854 186.189 64.9306 186.795 63.621H193.416C193.076 64.9549 192.458 66.1553 191.561 67.2224C190.688 68.2895 189.584 69.1262 188.25 69.7325C186.916 70.3388 185.425 70.6419 183.776 70.6419C181.787 70.6419 180.017 70.2175 178.465 69.3687C176.913 68.5199 175.7 67.3073 174.827 65.7309C173.954 64.1546 173.517 62.3114 173.517 60.2015C173.517 58.0916 173.942 56.2485 174.791 54.6721C175.664 53.0957 176.876 51.8831 178.428 51.0343C179.98 50.1855 181.763 49.7611 183.776 49.7611C185.74 49.7611 187.486 50.1734 189.014 50.9979C190.542 51.8225 191.73 52.9987 192.579 54.5266C193.452 56.0544 193.889 57.8369 193.889 59.8741ZM187.523 58.2371C187.523 57.17 187.159 56.3212 186.431 55.6907C185.704 55.0601 184.794 54.7448 183.703 54.7448C182.66 54.7448 181.775 55.048 181.048 55.6543C180.344 56.2606 179.908 57.1215 179.738 58.2371H187.523ZM203.391 52.926C203.973 51.9801 204.81 51.2162 205.901 50.6342C206.993 50.0521 208.241 49.7611 209.648 49.7611C211.321 49.7611 212.837 50.1855 214.195 51.0343C215.553 51.8831 216.62 53.0957 217.397 54.6721C218.197 56.2485 218.597 58.0795 218.597 60.1651C218.597 62.2508 218.197 64.0939 217.397 65.6945C216.62 67.2709 215.553 68.4956 214.195 69.3687C212.837 70.2175 211.321 70.6419 209.648 70.6419C208.217 70.6419 206.968 70.363 205.901 69.8052C204.834 69.2232 203.997 68.4592 203.391 67.5134V70.3509H197.171V43.4314H203.391V52.926ZM212.267 60.1651C212.267 58.613 211.831 57.4004 210.958 56.5274C210.109 55.63 209.054 55.1814 207.793 55.1814C206.556 55.1814 205.501 55.63 204.628 56.5274C203.779 57.4247 203.355 58.6494 203.355 60.2015C203.355 61.7536 203.779 62.9783 204.628 63.8757C205.501 64.773 206.556 65.2216 207.793 65.2216C209.03 65.2216 210.085 64.773 210.958 63.8757C211.831 62.9541 212.267 61.7172 212.267 60.1651ZM220.624 60.1651C220.624 58.0795 221.012 56.2485 221.788 54.6721C222.588 53.0957 223.667 51.8831 225.025 51.0343C226.383 50.1855 227.899 49.7611 229.573 49.7611C231.003 49.7611 232.252 50.0521 233.319 50.6342C234.411 51.2162 235.247 51.9801 235.83 52.926V50.0521H242.05V70.3509H235.83V67.477C235.223 68.4229 234.374 69.1868 233.283 69.7688C232.216 70.3509 230.967 70.6419 229.536 70.6419C227.887 70.6419 226.383 70.2175 225.025 69.3687C223.667 68.4956 222.588 67.2709 221.788 65.6945C221.012 64.0939 220.624 62.2508 220.624 60.1651ZM235.83 60.2015C235.83 58.6494 235.393 57.4247 234.52 56.5274C233.671 55.63 232.628 55.1814 231.391 55.1814C230.155 55.1814 229.1 55.63 228.227 56.5274C227.378 57.4004 226.953 58.613 226.953 60.1651C226.953 61.7172 227.378 62.9541 228.227 63.8757C229.1 64.773 230.155 65.2216 231.391 65.2216C232.628 65.2216 233.671 64.773 234.52 63.8757C235.393 62.9783 235.83 61.7536 235.83 60.2015ZM257.864 65.0761V70.3509H254.699C252.444 70.3509 250.685 69.8052 249.424 68.7139C248.163 67.5983 247.533 65.7915 247.533 63.2936V55.2178H245.059V50.0521H247.533V45.1047H253.753V50.0521H257.828V55.2178H253.753V63.3664C253.753 63.9727 253.899 64.4092 254.19 64.676C254.481 64.9427 254.966 65.0761 255.645 65.0761H257.864Z"
                  fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M96.8305 51.1206V59.4476C96.8305 62.7325 99.4934 65.3954 102.778 65.3954C106.063 65.3954 108.726 62.7325 108.726 59.4476V59.1502H103.968C103.475 59.1502 103.076 58.7507 103.076 58.258C103.076 57.7653 103.475 57.3658 103.968 57.3658H108.726V53.2024H103.968C103.475 53.2024 103.076 52.8029 103.076 52.3102C103.076 51.8175 103.475 51.418 103.968 51.418H108.726V51.1206C108.726 47.8357 106.063 45.1728 102.778 45.1728C99.4934 45.1728 96.8305 47.8357 96.8305 51.1206ZM94.154 57.0684C94.154 56.5757 93.7545 56.1763 93.2618 56.1763C92.7691 56.1763 92.3696 56.5757 92.3696 57.0684V59.4476C92.3696 65.1961 97.0297 69.8562 102.778 69.8562C108.527 69.8562 113.187 65.1961 113.187 59.4476V57.0684C113.187 56.5757 112.788 56.1763 112.295 56.1763C111.802 56.1763 111.403 56.5757 111.403 57.0684V59.4476C111.403 64.2107 107.541 68.0719 102.778 68.0719C98.0152 68.0719 94.154 64.2107 94.154 59.4476V57.0684Z"
                  fill="#FAFAFA"/>
        </svg>
    </div>
    <audio id="audio-monitor"></audio>
    <audio id="audio-stream" muted></audio>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/broadcast-control.js"></script>
<script src="/js/broadcast.js"></script>
<script src="/js/playlist.js"></script>
</body>
</html>

