<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link href="/css/output.css" rel="stylesheet" />
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
        />

        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body class="flex-col lg:flex-row px-11">
        <!-- Hidden items -->
        <label for="radioId">
            <input id="radioId" hidden="hidden" value="<%= id %>" type="text">
        </label>
        <audio id="audio-stream"></audio>

        <div class="w-full h-full flex flex-col items-center justify-center">
            <div>
                <svg width="431" height="115" viewBox="0 0 431 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.4153 27.2044C17.4153 18.9845 24.6547 12.6457 32.8026 13.7312L409.959 63.98C419.603 65.2648 424.814 75.9692 419.876 84.3518L415.772 91.3192C413.43 95.2942 409.233 97.8102 404.623 98.0012L31.5704 113.461C23.8494 113.781 17.4153 107.608 17.4153 99.8808V27.2044Z" fill="#023047"/>
                    <path d="M0 15.5238C0 7.30386 7.23941 0.964998 15.3873 2.05055L392.544 52.2993C402.188 53.5841 407.398 64.2885 402.461 72.6711L398.357 79.6385C396.015 83.6135 391.817 86.1295 387.208 86.3205L14.1551 101.781C6.4341 102.101 0 95.9277 0 88.2001V15.5238Z" fill="#00A9FF"/>
                    <path d="M90.3999 82.1933C100.311 74.6892 132.621 61.55 182.573 69.0258" stroke="#FFB703" stroke-width="6.79614"/>
                    <path d="M52.2801 65.2003L44.0947 50.3432H41.796V65.2003H32.2089V25.8429H48.2995C51.4018 25.8429 54.0368 26.3848 56.2046 27.4687C58.4099 28.5527 60.0544 30.0477 61.1383 31.9539C62.2223 33.8227 62.7642 35.9158 62.7642 38.2332C62.7642 40.8495 62.0167 43.1856 60.5216 45.2413C59.0639 47.297 56.8961 48.7547 54.0181 49.6143L63.1006 65.2003H52.2801ZM41.796 43.5593H47.7389C49.4956 43.5593 50.8037 43.1295 51.6634 42.2698C52.5604 41.4102 53.009 40.1954 53.009 38.6256C53.009 37.1306 52.5604 35.9532 51.6634 35.0935C50.8037 34.2339 49.4956 33.8041 47.7389 33.8041H41.796V43.5593ZM66.8762 49.5022C66.8762 46.2878 67.4742 43.4659 68.6703 41.0364C69.9037 38.6069 71.567 36.7381 73.6601 35.4299C75.7531 34.1218 78.0892 33.4677 80.6681 33.4677C82.8734 33.4677 84.7983 33.9162 86.4428 34.8132C88.1248 35.7103 89.4142 36.8876 90.3113 38.3453V33.9162H99.8984V65.2003H90.3113V60.7712C89.3769 62.2289 88.0687 63.4062 86.3868 64.3033C84.7422 65.2003 82.8173 65.6488 80.6121 65.6488C78.0705 65.6488 75.7531 64.9947 73.6601 63.6866C71.567 62.341 69.9037 60.4535 68.6703 58.024C67.4742 55.5572 66.8762 52.7166 66.8762 49.5022ZM90.3113 49.5583C90.3113 47.1662 89.6385 45.2786 88.293 43.8957C86.9848 42.5128 85.3776 41.8213 83.4714 41.8213C81.5652 41.8213 79.9393 42.5128 78.5938 43.8957C77.2856 45.2413 76.6315 47.1101 76.6315 49.5022C76.6315 51.8943 77.2856 53.8005 78.5938 55.2208C79.9393 56.6037 81.5652 57.2952 83.4714 57.2952C85.3776 57.2952 86.9848 56.6037 88.293 55.2208C89.6385 53.8379 90.3113 51.9503 90.3113 49.5583ZM104.928 49.5022C104.928 46.2878 105.526 43.4659 106.722 41.0364C107.955 38.6069 109.619 36.7381 111.712 35.4299C113.805 34.1218 116.141 33.4677 118.72 33.4677C120.776 33.4677 122.644 33.8975 124.326 34.7572C126.046 35.6168 127.391 36.7755 128.363 38.2332V23.7124H137.95V65.2003H128.363V60.7151C127.466 62.2102 126.177 63.4062 124.495 64.3033C122.85 65.2003 120.925 65.6488 118.72 65.6488C116.141 65.6488 113.805 64.9947 111.712 63.6866C109.619 62.341 107.955 60.4535 106.722 58.024C105.526 55.5572 104.928 52.7166 104.928 49.5022ZM128.363 49.5583C128.363 47.1662 127.69 45.2786 126.345 43.8957C125.037 42.5128 123.429 41.8213 121.523 41.8213C119.617 41.8213 117.991 42.5128 116.646 43.8957C115.337 45.2413 114.683 47.1101 114.683 49.5022C114.683 51.8943 115.337 53.8005 116.646 55.2208C117.991 56.6037 119.617 57.2952 121.523 57.2952C123.429 57.2952 125.037 56.6037 126.345 55.2208C127.69 53.8379 128.363 51.9503 128.363 49.5583ZM194.769 65.6488C191.704 65.6488 188.938 64.9947 186.472 63.6866C184.042 62.3784 182.117 60.5096 180.697 58.0801C179.314 55.6506 178.622 52.81 178.622 49.5583C178.622 46.3439 179.333 43.5219 180.753 41.0925C182.173 38.6256 184.117 36.7381 186.584 35.4299C189.051 34.1218 191.816 33.4677 194.881 33.4677C197.946 33.4677 200.712 34.1218 203.179 35.4299C205.646 36.7381 207.589 38.6256 209.01 41.0925C210.43 43.5219 211.14 46.3439 211.14 49.5583C211.14 52.7726 210.411 55.6132 208.954 58.0801C207.533 60.5096 205.571 62.3784 203.067 63.6866C200.6 64.9947 197.834 65.6488 194.769 65.6488ZM194.769 57.3513C196.601 57.3513 198.152 56.6785 199.422 55.3329C200.731 53.9874 201.385 52.0625 201.385 49.5583C201.385 47.054 200.749 45.1291 199.479 43.7836C198.245 42.438 196.713 41.7652 194.881 41.7652C193.012 41.7652 191.461 42.438 190.228 43.7836C188.994 45.0918 188.378 47.0166 188.378 49.5583C188.378 52.0625 188.976 53.9874 190.172 55.3329C191.405 56.6785 192.938 57.3513 194.769 57.3513ZM262.194 25.8429V65.2003H252.607V48.9976H237.694V65.2003H228.107V25.8429H237.694V41.2607H252.607V25.8429H262.194ZM298.605 49.0537C298.605 49.9507 298.549 50.8851 298.437 51.8569H276.74C276.89 53.8005 277.506 55.2955 278.59 56.3421C279.712 57.3513 281.076 57.8558 282.683 57.8558C285.075 57.8558 286.738 56.8467 287.673 54.8283H297.877C297.353 56.884 296.4 58.7342 295.017 60.3787C293.672 62.0233 291.971 63.3128 289.915 64.2472C287.86 65.1816 285.561 65.6488 283.019 65.6488C279.955 65.6488 277.226 64.9947 274.834 63.6866C272.442 62.3784 270.573 60.5096 269.227 58.0801C267.882 55.6506 267.209 52.81 267.209 49.5583C267.209 46.3065 267.863 43.4659 269.171 41.0364C270.517 38.6069 272.386 36.7381 274.778 35.4299C277.17 34.1218 279.917 33.4677 283.019 33.4677C286.047 33.4677 288.738 34.1031 291.093 35.3739C293.447 36.6447 295.279 38.4574 296.587 40.8121C297.933 43.1669 298.605 45.914 298.605 49.0537ZM288.794 46.5308C288.794 44.8862 288.233 43.578 287.112 42.6062C285.991 41.6344 284.589 41.1485 282.907 41.1485C281.3 41.1485 279.936 41.6157 278.815 42.5502C277.731 43.4846 277.058 44.8114 276.796 46.5308H288.794ZM313.25 38.3453C314.147 36.8876 315.437 35.7103 317.119 34.8132C318.801 33.9162 320.725 33.4677 322.893 33.4677C325.472 33.4677 327.808 34.1218 329.901 35.4299C331.994 36.7381 333.639 38.6069 334.835 41.0364C336.069 43.4659 336.685 46.2878 336.685 49.5022C336.685 52.7166 336.069 55.5572 334.835 58.024C333.639 60.4535 331.994 62.341 329.901 63.6866C327.808 64.9947 325.472 65.6488 322.893 65.6488C320.688 65.6488 318.763 65.219 317.119 64.3593C315.474 63.4623 314.185 62.285 313.25 60.8273V65.2003H303.663V23.7124H313.25V38.3453ZM326.93 49.5022C326.93 47.1101 326.257 45.2413 324.912 43.8957C323.603 42.5128 321.978 41.8213 320.034 41.8213C318.128 41.8213 316.502 42.5128 315.156 43.8957C313.848 45.2786 313.194 47.1662 313.194 49.5583C313.194 51.9503 313.848 53.8379 315.156 55.2208C316.502 56.6037 318.128 57.2952 320.034 57.2952C321.94 57.2952 323.566 56.6037 324.912 55.2208C326.257 53.8005 326.93 51.8943 326.93 49.5022ZM339.809 49.5022C339.809 46.2878 340.407 43.4659 341.603 41.0364C342.836 38.6069 344.499 36.7381 346.592 35.4299C348.686 34.1218 351.022 33.4677 353.601 33.4677C355.806 33.4677 357.731 33.9162 359.375 34.8132C361.057 35.7103 362.347 36.8876 363.244 38.3453V33.9162H372.831V65.2003H363.244V60.7712C362.309 62.2289 361.001 63.4062 359.319 64.3033C357.675 65.2003 355.75 65.6488 353.545 65.6488C351.003 65.6488 348.686 64.9947 346.592 63.6866C344.499 62.341 342.836 60.4535 341.603 58.024C340.407 55.5572 339.809 52.7166 339.809 49.5022ZM363.244 49.5583C363.244 47.1662 362.571 45.2786 361.225 43.8957C359.917 42.5128 358.31 41.8213 356.404 41.8213C354.498 41.8213 352.872 42.5128 351.526 43.8957C350.218 45.2413 349.564 47.1101 349.564 49.5022C349.564 51.8943 350.218 53.8005 351.526 55.2208C352.872 56.6037 354.498 57.2952 356.404 57.2952C358.31 57.2952 359.917 56.6037 361.225 55.2208C362.571 53.8379 363.244 51.9503 363.244 49.5583ZM397.203 57.0709V65.2003H392.325C388.849 65.2003 386.139 64.3593 384.196 62.6774C382.252 60.9581 381.28 58.1735 381.28 54.3238V41.8774H377.468V33.9162H381.28V26.2914H390.867V33.9162H397.147V41.8774H390.867V54.4359C390.867 55.3703 391.092 56.0431 391.54 56.4542C391.989 56.8654 392.736 57.0709 393.783 57.0709H397.203Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M149.233 35.6336V48.4669C149.233 53.5295 153.337 57.6336 158.4 57.6336C163.462 57.6336 167.566 53.5295 167.566 48.4669V48.0086H160.233C159.474 48.0086 158.858 47.393 158.858 46.6336C158.858 45.8742 159.474 45.2586 160.233 45.2586H167.566V38.8419H160.233C159.474 38.8419 158.858 38.2263 158.858 37.4669C158.858 36.7075 159.474 36.0919 160.233 36.0919H167.566V35.6336C167.566 30.571 163.462 26.4669 158.4 26.4669C153.337 26.4669 149.233 30.571 149.233 35.6336ZM145.108 44.8003C145.108 44.0409 144.493 43.4253 143.733 43.4253C142.974 43.4253 142.358 44.0409 142.358 44.8003V48.4669C142.358 57.3265 149.54 64.5086 158.4 64.5086C167.259 64.5086 174.441 57.3265 174.441 48.4669V44.8003C174.441 44.0409 173.826 43.4253 173.066 43.4253C172.307 43.4253 171.691 44.0409 171.691 44.8003V48.4669C171.691 55.8077 165.741 61.7586 158.4 61.7586C151.059 61.7586 145.108 55.8077 145.108 48.4669V44.8003Z" fill="#FAFAFA"/>
                </svg>
            </div>

            <div class="music-container" id="music-container">
                <div class="music-info">
                    <h4 id="title"><%= title %></h4>
                </div>

                <div class="img-container">
                    <img src="<%= cover %>" alt="music-cover" id="cover" />
                </div>
                <div class="navigation">
                    <button id="prev-btn" class="action-btn">
                        <a href="/radio/<%= canPrevChannel ? id - 1 : 6 %>">
                            <i class="fas fa-backward"></i>
                        </a>
                    </button>
                    <button id="play-pause-btn" class="action-btn action-btn-big ">
                        <i class="fas fa-play"></i>
                    </button>
                    <button id="next-btn" class="action-btn">
                        <a href="/radio/<%= canNextChannel ? id + 1 : 1 %>">
                            <i class="fas fa-forward"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-full h-full py-5 px-20 lg:py-10 lg:px-44">
            <div class="flex flex-col w-full h-full bg-white rounded-2xl justify-between overflow-hidden">
                <div>
                    <div class="py-5 justify-center border-b-gray-400">
                        <p class="text-center">Live Chat <%= title %> (users online: <span id="current-listeners"></span>)</p>
                    </div>
                    <hr>
                </div>
                <div id="chat-box" class="flex flex-col h-full px-5 py-5 gap-3 overflow-y-auto">

                </div>
                <div>
                    <hr>
                    <form id="on-submit-chat">
                        <div class="flex flex-row py-2 px-5">
                                <div class="flex flex-col gap-2 mr-3 w-full">
                                    <label for="name-chat">
                                        <input class="rounded-2xl border-gray-200 w-full" id="name-chat" type="text" placeholder="Nama..">
                                    </label>
                                    <label for="new-chat">
                                        <input class="rounded-2xl border-gray-200 w-full" id="new-chat" type="text" placeholder="Chat sebagai pendengar..">
                                    </label>
                                </div>
                                <button id="new-chat-btn" class="p-2 h-auto bg-gray-200 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                                    </svg>
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/listen.js"></script>
        <script src="/js/live-chat.js"></script>
    </body>
</html>
